#mc-embedded-subscribe-form {
	margin: 0;
}

#mce-success-response, #mce-error-response {
	padding-bottom: 14px;
}

#mce-error-response {
	color: red;
}

#mc_embed_signup {
	margin: 0
}

#mce-EMAIL { 
	width: 100%;
}

#mc-embedded-subscribe {
	font-size: 12px;
}
